/* body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 40px;
}

.section-header {
  font-size: 30px;
  color: red;
} */
